@model IEnumerable<NewPro.Models.Deposit>
@{
    ViewData["Title"] = "Deposits";
    Layout = "~/Views/Shared/_Withdraw.cshtml";
}

<div class="container mt-4" style="margin-bottom: 400px;">
    <div class="row">
        <div class="col-md-4 col-md 6">
        </div>
        <div class="col-md-4 col-md 6">
            @if (TempData["DepositError"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["DepositError"]
                </div>
            }
            @* <p>@ViewBag.UserId</p> *@
            @if (Model != null && Model.Any())
            {
                
                <h3 style="color: #0767A3; font-family: Poppins, sans-serif; font-weight: 700;" class="mb-2">Deposit Transactions</h3>
                <input type="text" id="searchInput" class="form-control rounded-0 mt-2" placeholder="Sender Name" onkeyup="searchTransaction()" />
                @foreach (var deposit in Model)
                {
                    <div class="row g-3 box p-4 mt-3 pb-2">
                        <div class="col-md-12 d-flex align-items-center mb-1">
                            <div>
                                <h6 style="color: black; font-family: Poppins, sans-serif; font-weight: 700;" class="mb-3">Deposit Slip</h6>
                                <h6 class="text-start mb-3 heading_six">
                                    @if (deposit.Status == 1)
                                    {
                                        <p class="text-success">Approved</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Pending</p>
                                    }
                                </h6>
                                <p style="color: black; font-family: Poppins, sans-serif; font-weight: 600; font-size:14px;" class="mb-2">FROM</p>
                                <p class="text-start para_transaction mb-1">Acc #: @deposit.SenderAccNum</p>
                                <p class="text-start sender-name para_transaction mb-1">Acc Title: @deposit.SenderAccName</p>

                                <p style="color: black; font-family: Poppins, sans-serif; font-weight: 600; font-size:14px;" class="mb-2">TO</p>
                                <p class="text-start para_transaction mb-1">Acc #: @deposit.To</p>
                                <p class="text-start para_transaction">Type: @deposit.BankName</p>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-md-12 d-flex align-items-center justify-content-end">
                                <div>
                                    <p style="color: #0767A3; font-family: Poppins, sans-serif; font-weight: 600; font-size:12px;" class="text-end para_transaction mb-2">Amount: @deposit.Amount</p>
                                    <p class="text-end para_transaction">@deposit.DateAndTime.ToString("g")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3 style="color: #0767A3; font-family: Poppins, sans-serif; font-weight: 700;">@ViewBag.Message</h3>
            }
            <div class="d-grid gap-2 mt-3">
                <a class="nav-link" asp-controller="Transaction" asp-action="IndexWithdraw"><button class="btn p-3 transaction_button" type="button" style="width: 100% !important;">Withdraw Transaction</button></a>
            </div>
        </div>
        <div class="col-md-4 col-md 6">
        </div>
    </div>
</div>

<script>
    function searchTransaction() {
        var input, filter, transactions, transaction, nameElement, name, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        transactions = document.querySelectorAll(".box");

        for (i = 0; i < transactions.length; i++) {
            transaction = transactions[i];
            nameElement = transaction.querySelector(".sender-name");

            if (nameElement) {
                name = nameElement.textContent || nameElement.innerText;
                if (name.toUpperCase().indexOf(filter) > -1) {
                    transaction.style.display = "";
                } else {
                    transaction.style.display = "none";
                }
            }
        }
    }
</script>